<form id="aPost" class="aPost">
  <input type="text" class="post-title" placeholder="Post Title">
  <textarea class="post-content" rows="8" cols="40" placeholder="Post"></textarea>
</form>
<button name="button" class='submit-post'>Submit</button>
