<form id="bPerson" class="bPerson">
  <input type="text" class="first-name" placeholder="First Name" />
  <input type="text" class="last-name" placeholder="Last Name" />
  <input type="text" class="address-line-1" placeholder="Address Line 1" />
  <input type="text" class="address-line-2" placeholder="Address Line 2 (optional)" />
  <input type="text" class="city" placeholder="City" />
  <input type="text" class="state" placeholder="State" />
  <input type="text" class="zip" placeholder="Zip Code" />
  <input type="text" class="phone" placeholder="Phone Number" />
</form>
<button name="button" class='submit-person'>Submit</button>
