<form id="add-url" class="add-url">
  <input type="text" class="title" placeholder="Title">
  <input type="text" class="url" placeholder="URL">
  <input type="text" class="tag" placeholder="Add a Tag">
  <button name="button" class='submit-url'>Submit URL</button>
</form>
