<form class="bookmark-add-form hidden">
  <input class="bookmark-title" type="text" value="title">
  <input class="bookmark-url" type="text" value="url">
  <select class="bookmark-tag" type="text" value="tag">
     <option value="Pick One">Pick One</option>
     <option value="Brunch">Brunch</option>
     <option value="Appetizer">Appetizer</option>
     <option value="Entree">Entree</option>
     <option value="Side Dish">Side Dish</option>
     <option value="Dessert">Dessert</option>
   </select>
  <input class="cancel-edit" type="reset" value="cancel">
  <input type="submit" value="save">
</form>

<button class="add-bookmark" name="add-bookmark">New</button>
