<div class="current-weather-container">
  <h3 class="current-location">Current Weather</h3>
  <p class="current-temp">{{current.temp}}&#176;</p>
  <p class="current-weather">{{current.summary}}</p>
</div>
