<div class="add-image-container">
  {{input type="text" value=model.url placeholder="URL"}}
  {{input type="text" value=model.caption placeholder="caption"}}
  <button class="save" {{action 'save'}}>Save</button>
</div>
