<form class="user-login">
  {{input placeholder="E-mail" type="email" value=identification}}
  {{input placeholder="Password" type="password" value=password}}
  <button {{action 'authenticate'}}>Log In</button>
</form>
