html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.calculator {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto; }
  .calculator::after {
    clear: both;
    content: "";
    display: table; }

.keypad-button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .keypad-button:last-child {
    margin-right: 0; }
  .keypad-button:nth-child(4n) {
    margin-right: 0; }
  .keypad-button:nth-child(4n+1) {
    clear: left; }
