@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

.form-container{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: $blue;
  padding-left: 15%;
}

.form{
  background-color: $very-light-gray;
}

.body-container{
  width: 800px;
  margin: 0 auto;
  background-color: $light-gray;
  padding: 100px;
  text-align: center;
}

li {
  list-style: none;
}
