<form class="add-image-form" action="" method="post">
  <input class="image-url" type="text" value="url" placeholder="Image URL">
  <textarea class="caption" value="text" placeholder="Image Caption"></textarea>
  <button name="cancel" class="cancel-button">Cancel</button>
  <button name="add-image" class="add-image-button">Add Image</button>
</form>
