* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix {
  overflow: auto;
}
.container {
  max-width: 600px;
}
header {
  background-image: url("../images/houston.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
}
nav {
  position: fixed;
  top: 225px;
  left: 200px;
  width: 15%;
}
.tiy {
  background-image: url("../images/imgres.png");
  background-size: cover;
  width: 150px;
  height:150px;
  align: left;
  border-radius: 50%;
  border: 6px solid white;
}
section {
  position: relative;
  top: 100px;
  left: 400px;
  width-max: 600px;
}
footer {
  position: static;
  bottom: 0;
  left: 0;
  height: 50px;
  background-color: white;
  width: 100%;
}
body {
  margin: 0px auto;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 35px;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  font-size: 14px;
}
h3 {
  font-family:'PT Serif Caption', serif;
  color: #CDCDCD;
  font-variant: italic;
  font-size: 14px;
  line-height: 20px;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  color: #CDCDCD;
  font-size: 12px;
}
h5 {
  font-family: 'PT Serif Caption', serif;
  color: #CDCDCD;
  font-size: 12px;
}
a{
  text-decoration:none;
}
.sign-up {
  position:fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  border: 2px solid #dfdfdf;
  padding: 5px;
  width: 300px;
  font-size: 16px;
  line-height: 16px;
}
.sign-up img {
  float:left;
  width:50px;
  margin-right: 5px;
}
.sign-up img.follow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 26px;
  width: 79px;
  margin-bottom: 2px;
}
.sign-up h2 {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 14px;
}
.sign-up .close {
  float:right;
  font-family: 'Open Sans', sans-serif;
  color: #CDCDCD;
  font-size: 14px;
}
.sign-up p{
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  font-size: 10px;
}
.blog img {
  width: 100px;
}
