<a href="{{html_url}}" class="nav-tab"><span class="octicon octicon-diff-added"></span>Contributions</a>
<a href="{{html_url}}?tab=repositories" class="nav-tab selected"><span class="octicon octicon-repo"></span>Repositories</a>
<a href="{{html_url}}?tab=activity" class="nav-tab"><span class="octicon octicon-rss"></span>Public Activity</a>
