<li class="food">
  <button name="add-to-order" id="add" class="add"><i class="fa fa-plus"></i></button>
  <h2 id="item">{{item}}</h2>
  <h3 id="price">{{price}}</h3>
  <p id="description">{{description}}</p>
</li>
